<h4>All News Sorted by Date</h4>
<hr>
<% @posts.each do |post| %>
    <div class="post">
        <div class="post-title">
            <h5><%= truncate(post.title, length: 15) %></h5>
        </div>
        <div class="post-body">
            <p><%= truncate(post.body, length: 100) %></p>
        </div>
        <div class="post-meta">
            <small>Created at <strong><%= time_ago_to_words(post.created_at) %>
    </div>
<% end %>