<div class="subheader">
    <h4>All News Sorted by Date</h4><%= link_to "+ Post", new_post_path, class: "btn btn-primary pull-right" %>
</div>
<hr>
<% @posts.each do |post| %>
    <div class="post">
        <div class="post-title">
            <h5>[<%= link_to truncate(post.title, length: 15), post_path(post) %>]</h5>
        </div>
        <div class="post-body">
            <p><%= truncate(post.body, length: 100) %></p>
        </div>
        <div class="post-meta">
            <small><em>Created <strong><%= time_ago_in_words(post.created_at) %></strong> ago.</em></small>
        </div>
    </div>
<% end %>