<div class="subheader">
    <h4>All Users</h4>
</div>
<hr>
<% @users.each do |user| %>
    <div class="post">
        <div class="post-title">
            <h5>[<%= link_to truncate(user.username, length: 15), user_path(user) %>]</h5>
        </div>
    </div>
<% end %>