
<div class="center jumbotron">
    <div>
        <h1>Hello World</h1>
        <%= link_to 'Beta Blog', articles_path %> | <%= link_to 'About', about_path %>
        <p>This is a simple rails website. Totally not cool - I know? But it may be cool one day.</p>
    </div>
</div>
<div class="center jumbotron">
    <div>
        <h1>Hello World</h1>
        <%= link_to 'Beta Blog', articles_path %> | <%= link_to 'About', about_path %>
        <p>This is a simple rails website. Totally not cool - I know? But it may be cool one day.</p>
    </div>
</div>
