<div class="subheader">
    <h4>All threads</h4>
</div>
<hr>
<% @threads.each do |thread| %>
    <div class="post">
        <div class="post-title">
            <h5>[<%= truncate(thread.threadname, length: 15) %>]</h5>
        </div>
    </div>
<% end %>