<% @users.each do |user| %>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="well well-lg">
                <div class="user-img">
                </div>
                <div class="user-title">
                    <%= link_to truncate(user.title, length: 15), user_path(user) %>
                </div>
            </div>
        </div>
    </div>
<% end %>