@import "bootstrap-sprockets";
@import "bootstrap";

header {
    text-align: center;

    h1 {
        color: rgb(163, 30, 30);
        text-transform: uppercase;
    }

    nav {
        width: 100%;
        h4 {
            margin: 0 10px 0 10px;
        }
    }
}

.page {
    display: flex;
    justify-content: center;
}