@import "bootstrap-sprockets";
@import "bootstrap";

body {
    display: flex;
    justify-content: center;
}

header {
    width: 100%;
    text-align: center;

    h1 {
        color: rgb(163, 30, 30);
        text-transform: uppercase;
    }

    nav {
        h4 {
            display: inline-block;
            margin: 0 10px 0 10px;
            
            a {
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }
}

.page {
    display: flex;
    justify-content: center;
    width: 75%;
}