@import "bootstrap-sprockets";
@import "bootstrap";

header {
    text-align: center;

    h1 {
        color: rgb(163, 30, 30);
        text-transform: uppercase;
    }

    nav {
        li {
            display: inline-block;
        }
    }
}

.page {
    display: flex;
    justify-content: center;
}