<header>
    <h1>Den Normangiske Stamme</h1>
    <h3>The Normangian Tribe</h3>
    <hr>
    <nav>
        <ul>
            <li><%= link_to "Hem", root_path %></li>
            <li><%= link_to "Om Oss", about_path %></li>
        </ul>
    </nav>
</header>