$navbar-default-bg: darkred;

@import "bootstrap-sprockets";
@import "bootstrap";


li a {
    color: white !important;
}

#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;

    &:hover {
        color: red;
    }
}

.center {
    text-align: center;
}

.error {
    color: red;
}

.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    color: #fff;
    background-color: rgb(46, 46, 46);
    h1 {
        margin: 0 auto;
        letter-spacing: 3px;
    }
}

.description {
    margin-top: -10px;
}

.article-actions {
    border-top: 2px solid#eaeaea;
    padding-top: 5px;
}

.footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;

    a {
        &:hover {
            color: #222;
        }
    }

    small {
        float: left;
    }

    ul {
        float: right;
        list-style: none;

        li {
            float: left;
            margin-left: 15px;
        }
    }
}
