$navbar-default-bg: darkred;

@import "bootstrap-sprockets";
@import "bootstrap";


li a {
    color: white !important;
}

#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;

    &:hover {
        color: red;
    }
}

.center {
    text-align: center;
}

.jumbotron {
    background-image: asset-url("ladda ned.jpg");
}